:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-grey-1: hsl(0, 0%, 49%);
    --clr-grey-2: hsl(0, 0%, 91%);
    --clr-white: white;
    --clr-red-dark: hsl(205, 86%, 17%);
    --clr-red-light: hsl(205, 86%, 17%);
    --clr-green-dark: hsl(205, 86%, 17%);
    --clr-green-light: hsl(205, 86%, 17%);
    --clr-black: hsl(205, 86%, 17%);
    --transition: all .3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--clr-grey-2);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: .875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: .75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem
}

h4 {
    font-size: .8rem
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-primary-7);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
    .text {
        max-width: 45em;
    }
    .prev,
    .next {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .section {
        max-width: 95vh;
    }
}

.section {
    width: 90vh;
    margin: 0 auto;
    max-width: var(--max-width);
}

.title span {
    font-size: .85em;
    color: var(--clr-primary-5);
    margin-right: 1rem;
    font-weight: 700;
}

.section-center {
    margin: 4rem auto 0;
    width: 80vw;
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

article {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

.person-img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid var(--clr-grey-2);
    box-shadow: var(--dark-shadow);
}

.article h4 {
    text-transform: uppercase;
    color: var(--clr-primary-5);
    margin-bottom: .25rem;
}

.title {
    text-transform: capitalize;
    margin-bottom: .75rem;
    color: var(--clr-grey-1);
}

.text {
    max-width: 35em;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 2;
    color: var(--clr-grey-1);
}

.icon {
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--clr-primary-5);
}

.prev,
.next {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    background: var(--clr-grey-1);
    color: var(--clr-white);
    width: 2.25rem;
    height: 2.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
}

.prev:hover,
.next:hover {
    background: var(--clr-primary-5);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev svg,
.next svg {
    font-size: 2rem;
}

.title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}